<h5>Ability scores</h5>
<ul class="list-group">
  <div *ngFor="let n of abilityScores" class="list-group-item list-group-item-dark">
    <div class="d-flex justify-content-center align-items-center container ">
      <label class="statLabel" for="character{{n.name| capitalize}}">{{n.name| capitalize}}</label><br>
    </div>
    <div class="d-flex justify-content-center align-items-center container ">
      <input class="form-control" type="text" name="character{{n.name| capitalize}}" id="character{{n.name| capitalize}}"
        value="{{n.stat}}" (change)="onAbilityScoreChange($event, n)">
    </div>
    <div class="d-flex justify-content-center align-items-center container ">
      <input id="bonus" class="form-control w-50 p-1" type="text" disabled value="+0" />
    </div>

    <!--Todo: Replace value +0 with dynamic one-->
  </div>