<section>
  <h5>Saving throws</h5>
  <ul class="list-group">
    <li *ngFor="let n of savingThrows$|async;" class="list-group-item">
      <select (change)="parseValue($event.target.value, n)">
        <option *ngFor="let item of options;" [value]="item" [selected]="n.proficiencyBonus==SkillProficiencyBonus[item]">{{item}}</option>
      </select>
      <input type="number" name="characterSave{{n.ability.name| capitalize}}" id="characterSave{{n.ability.name| capitalize}}" value="{{n.ability.stat}}" disabled>
      <label for="characterSave{{n.ability.name| capitalize}}ProfBonus">{{n.ability.name| capitalize}}</label>
      <!--Not sure why this is here.-->
      <!--{{n.proficiency}}-->
    </li>
  </ul>
</section>
