<h3>Treasure</h3>
<table>
  <tr>
    <th>Treasure</th>
    <th>Worth</th>
    <th>Currency</th>
  </tr>
  <tr *ngFor="let item of treasure$|async; let i = index; trackBy:trackByFn">
    <td>{{item.item}}</td>
    <td>{{item.worth}}</td>
    <td>
      <select (change)="updateCurrencyType($event.target.value, item, i)">
        <option *ngFor="let option of currencyOptions;" [value]="option"  [selected]="item.currency==CurrencyEnum[option]">{{option}}</option>
      </select>
    </td>
  </tr>
</table>