<h3>Treasure</h3>
<table>
  <tr>
    <th>Treasure</th>
    <th>Worth</th>
    <th>Currency</th>
  </tr>
  <tr *ngFor="let treasure of treasure$|async; let i = index; trackBy:trackByFn">
    <td>{{treasure.item}}</td>
    <td>{{treasure.worth}}</td>
    <td>
      <select (change)="updateCurrencyType($event.target.value, treasure, i)">
        <option *ngFor="let option of currencyOptions;" [value]="option"  [selected]="treasure.currency==CurrencyEnum[option]">{{option}}</option>
      </select>
    </td>
  </tr>
</table>