.backg{
background-image:url("https://i2.wp.com/www.heyuguys.com/images/2018/02/Dungeons-and-Dragons.jpg?fit=1200%2C674&ssl=1");
background-size:cover;
}

.content{
    background-color:rgb(83, 46, 2);
    opacity: 0.9;
    margin:10px;
    padding:10px;
    border-radius:20px;
    border-style:outset;

}