<app-currency-treasure></app-currency-treasure>

<input type="number" id="currencyCopper" id="currencyCopper" [value]="(currencyState$|async)?.copper" (change)="onCurrencyChange($event.target.value, 'copper')">
<label for="currencyCopper">copper</label>
<input type="number" id="currencySilver" id="currencySilver" [value]="(currencyState$|async)?.silver" (change)="onCurrencyChange($event.target.value, 'silver')">
<label for="currencySilver">silver</label>
<input type="number" id="currencyElectrum" id="currencyElectrum" [value]="(currencyState$|async)?.electrum" (change)="onCurrencyChange($event.target.value, 'electrum')">
<label for="currencyElectrum">electrum</label>
<input type="number" id="currencyGold" id="currencyGold" [value]="(currencyState$|async)?.gold" (change)="onCurrencyChange($event.target.value, 'gold')">
<label for="currencyGold">gold</label>
<input type="number" id="currencyPlatinum" id="currencyPlatinum" [value]="(currencyState$|async)?.platinum" (change)="onCurrencyChange($event.target.value, 'platinum')">
<label for="currencyPlatinum">platinum</label>
<hr>
Totals:
<ul>
  <li *ngFor="let item of totals$|async|objectKeys;">{{item.value}} {{item.key}} pieces.
  </li>
</ul>
<hr>
{{total|json}}