/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import "~font-awesome/css/font-awesome.css";

h1, h2, h3, h4, h5, h6 {
  text-align:center;
  margin-top:0.4em;
}

input, select {
  height:2em;
}
.backg{
  background-color:black;
  width:100%;
}

