/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import "~font-awesome/css/font-awesome.css";

input, select {
  height:2em;
}

input[type=number] {
  width: 3em;
  text-align: center;

  &::-webkit-outer-spin-button, &::-webkit-inner-spin-button {
    opacity:1;
  }
}
